*{
    margin: 0;
}

body{
    height: 1500px;
    padding-top: 68px;
}
/* Ele possui um comportamento parecido com o position absolute porém ao rolar a barra da página o elemento fica fixado na tela acompanhando a rolagem. */
header{
    font-size: 24px;
    background-color: lightskyblue;
    position: fixed;
    width: 100%;
    padding: 20px;
    top: 0;
}