.container{
    display: flex;
}

.container.direction{
    flex-direction: row;
}
/* row = padrão 123, row-reverse = 321 e coloca os elementos do outro lado da viewport, column = 123 elementos em coluna e column-reverse = 321 em coluna reversa. */

.container div{
    background-color: aqua;
    color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
    
}

.container.wrap{
    flex-direction: row;
    flex-wrap: wrap;
}

/* flex-wrap vai ajustar os itens de acordo com o tamanho do viewport, ajustando eles a medida que a tela vai diminuindo. */

.container.flow{
 flex-flow: row-reverse wrap;
}