.flex-start{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.flex-end{
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.space-between{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container.space-around div,
.container.space-evenly div,
.container.space-between div {
    margin: 0;
}

.space-around{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.space-evenly{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
